<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductApp details</title>
</head>
<body>
    <h1>Product details</h1>
    <table border="8">
        <tr>
            <th>name</th>
            <th>description</th>
            <th>cost_per_item</th>
            <th>stock_quantity</th>
            <th>volume</th>
        {% for product in product_data %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.cost_per_item}}</td>
                <td>{{product.stock_quantity}}</td>
                <td>{{product.volume}}</td>
            </tr>
        {% endfor %}
        </tr>
    </table>


</body>
</html>